<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Images</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <main>
     <div class="px-4 py-3 my-2 text-center">
         <h1 class="display-6 fw-bold">Uploaded Images</h1>
         <div class="row">
             {% for image in images %}
             <div class="col-md-4">
                 <img src="{{ url_for('static', filename='uploads/' ~ image) }}" class="img-fluid" alt="{{ image }}">
             </div>
             {% endfor %}
         </div>
         <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">Back home</a>
       </div>
  </main>
</body>
</html>
