<!doctype html>
<html>
<head>
    <title>Imagedetection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <main>
        <div class="px-4 py-3 my-2 text-center">
            <h1 class="display-6 fw-bold text-primary">CAN I just do a straight cloud output?</h1>            
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h2 class="fw-bold fs-5">Before</h2>
                    <img class="img-fluid mb-4" src="{{ url_for('static', filename='images/before-image.jpg') }}" alt="Before Image" style="max-width: 100%; height: auto;">
                </div>
                <div class="col-md-6 text-center">
                    <h2 class="fw-bold fs-5">After</h2>
                    <img class="img-fluid mb-4" src="{{ url_for('static', filename='images/after-image.jpg') }}" alt="After Image" style="max-width: 100%; height: auto;">
                </div>
            </div>
        </div>
    </main>      
</body>
</html>
